* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(211, 235, 255);
}

body {
  font:
    14px/1.5 "microsoft yahei",
    "Hiragino Sans GB",
    "heiti SC",
    "WenQuanYi Micro Hei",
    sans-serif;
    line-height: 1.6;
  color: #333;
}

li {
    list-style: none;
}
